[submodule "selfdev-prosody"]
	path = selfdev-prosody
	url = git@github.com:vuics/selfdev-prosody.git
[submodule "selfdev-agency"]
	path = selfdev-agency
	url = git@github.com:vuics/selfdev-agency.git
[submodule "selfdev-speech"]
	path = selfdev-speech
	url = git@github.com:vuics/selfdev-speech.git
[submodule "selfdev-avatar"]
	path = selfdev-avatar
	url = git@github.com:vuics/selfdev-avatar.git
[submodule "selfdev-app"]
	path = selfdev-app
	url = git@github.com:vuics/selfdev-app.git
