dlib==19.17.0
h5py==2.9.0
Keras==2.2.4
# matplotlib==2.1.0
matplotlib
# matplotlib==3.3.4
# numpy==1.13.3
# opencv-python==4.0.0.21
opencv-python==4.5.5.64
Pillow==5.4.1
scikit-image==0.15.0
# scikit-image==0.17.2
scipy==1.0.0
# tensorflow-gpu==1.8.0
# tensorflow-gpu==2.4.1
tensorflow
tqdm==4.19.9
librosa==0.7.0
